<div class="col-sm-12">
  <div class="container">
    <div class="page-header">
      <h1><%= t('list_articles') %></h1>
    </div>
    <p>
      <% if user_signed_in? && current_user.can_publish %>
        <%= link_to 'New article', new_article_path, remote: true, class: "btn btn-success", id: "new" %>
      <% end %>
    </p>
    <div class="row">
      <div class="col-sm-4 form">
      </div>
    </div>

      <div class="section">
        <div class="row">
          <div class="col-sm-8 list-article">
            <div class="new-article">
              
            
            <% @articles.each do |article| %>
            <article class="article">
                <h3 class="margin-title">
                  <%= link_to article.title, article_path(article) %>
                </h3>
                <small><%= article.user.email  %></small>
                <p class="text-info">
                <%= l article.created_at, format: "%d %B %Y" %>
                </p>
                
              <p class="text-uppercase">
                <%= article.text %>
              </p>

              <%= link_to 'Show', article_path(article) %>
              <% if current_user == article.user %>
                <%= link_to 'Edit', edit_article_path(article) %>
                <%= link_to 'Delete', article_path(article), 
                            method: :delete, data: { confirm: 'Are you sure?'}  %>
              <% end %>  

              <p class="text-info">
                #<%= pluralize(article.comments.count, 'comentario') %> 
              </p>

            </article>
      <% end %>
      </div> 
          </div>
          
          <aside>
            <div class="col-sm-4">
              <div class="list-group">
                <a class="list-group-item active">
                  <%= t('latest_articles')%>
                </a>
                <% @articles.order(created_at: :desc).limit(5).each do |article| %>
                <span class="list-group-item">
                  <%= link_to article.title, article_path(article)  %>
                  <p>
                    <%= l article.created_at, format: "%d %B %Y" %>
                  </p>
                </span>
                <% end %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="list-group">
                <a class="list-group-item active">
                  <%= t('more_commented')%>
                </a>
                <% @art_top_five.each do |index| %>
                <span class="list-group-item">
                  <%= link_to index.article.title, article_path(index.article)  %>
                  <p>
                    <%= l index.article.created_at, format: "%d %B %Y" %>
                    <span class="text-info">
                      #<%= pluralize(index.article.comments.count, 'comentario') %>
                    </span>  
                  </p>
                </span>
                <% end %>
              </div>
            </div>
          </aside> 

        </div>

      </div>

  </div>
</div>
