
<div class="col-sm-12">
  <div class="container">
    <div class="article">
      <h1 class="margin-title rojo">
        <%= @article.title %>
      </h1>
     
      <p class="text-uppercase">
        <%= @article.text %>
      </p>
    </div>

  <h5>Comments:</h5>
  
  <p>
    <%= render @article.comments %>
  </p>

<%= render "comments/form" %>

<%= link_to 'Back', articles_path %> | 
<%= link_to 'Edit', edit_article_path(@article) if current_user == @article.user %>
  
  </div>
</div>